
@{
    ViewData["Title"] = "AboutMe Page";
}
<h1> About Me</h1>

<div id="about-box">
    

    <h2> Short story about me</h2>
    <p>
        I grew up in Markaryd Småland in Sweden. And there i pretty much spent most of my years.
        Now im trying to learn about programming so i get a better job.
        I love my wife and my furbabies. They mean the world for me.
        On my free time I love to play to play videogames maybe thats why i wanted to learn programming to, so one day i maybe can learn how to make my own game.

    </p>
    

</div>
