
@{
    ViewData["Title"] = "Skill Page";
}
<h1>Skills and Knowledge</h1>

<ul>
    <li><a asp-action="mySkills" asp-controller="SkillsandKnowledge">Skills</a>  </li>
    <li><a asp-action="myKnowledge" asp-controller="SkillsandKnowledge">Knowledge</a>  </li>
</ul>
