@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>My Knowledge</h1>
<p>My knowledge about programming is on a beginners level. But i think its alot of fun and i want to keep on learning.</p>
