@model Contact
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>This is your Chosen contact</h1>

<p>Name: @Model.Name</p>
<p>Email: @Model.Email</p>
<p>Message: @Model.Message</p>

<form action="/Contact/DeleteContact/@Model.Id" method="post">
    
    <button>Delete Contact</button>
</form>